.cards {
  text-align: center;

  h3 {
    letter-spacing: 4px;
  }

  &__container {
    width: 20.625rem;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @include breakpoint-up(medium) {
      width: 31.25rem;
    }

    @include breakpoint-up(large) {
      width: 41.875rem;
    }
  }

  &__card {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $darkDesaturatedBlue;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.637);
    height: 4.25rem;
    width: 4.375rem;
    overflow: hidden;

    @include breakpoint-up(medium) {
      height: 6.5rem;
      width: 6.8125rem;
      margin-bottom: 1.375rem;
    }

    @include breakpoint-up(large) {
      height: 8.75rem;
      width: 9.25rem;
      margin-bottom: 1.75rem;
    }
  }
  .cover {
    position: relative;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: black;
    }
    &::before,
    &::after {
      content: "";
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 12px;
      width: 8px;
      background-color: black;
    }

    &::before {
      left: 0;
      border-radius: 0 6px 6px 0;
    }

    &::after {
      right: 0;
      border-radius: 6px 0 0 6px;
    }
  }

  .base {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $softRed;
  }

  .flap {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    transform-origin: 50% 100%;
    backface-visibility: hidden;
    overflow: hidden;

    &::before {
      content: attr(data-content);
      position: absolute;
      left: 50%;
    }

    &.front::before,
    &.under::before {
      top: 100%;
      transform: translate(-50%, -50%);
    }

    &.back {
      transform: rotateY(180deg);
      &::before {
        top: 100%;
        transform: translate(-50%, -50%) rotateZ(180deg);
      }
    }

    &.over {
      z-index: 2;
    }

    &.under {
      z-index: 1;
    }

    &.front {
      animation: flip-down-front 300ms ease-in both;
    }

    &.back {
      animation: flip-down-back 300ms ease-in both;
    }

    &.under {
      animation: fade-under 300ms ease-in both;
    }
  }
}
