.footer {
  display: flex;

  justify-content: space-around;
  align-items: center;
  justify-items: center;

  &__social {
    a {
      font-size: 1.625rem;
      color: $iconGray;
      cursor: pointer;

      &:hover {
        color: $softRed;
      }
    }
    a:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
