* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}

body {
  height: 100vh;
  background: url("../images/bg-stars.svg") top/100% 80% no-repeat,
    url("../images/pattern-hills.svg") bottom/100% 20% no-repeat,
    linear-gradient(to bottom, $veryDarkBlue, $veryDarkBlackishBlue);
  background-repeat: no-repeat;
}
a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $veryDarkBlue;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

h1 {
  font-size: 0.875rem;
  color: $white;

  @include breakpoint-up(medium) {
    font-size: 1rem;
  }

  @include breakpoint-up(large) {
    font-size: 1.125rem;
  }
}

h2,
div {
  font-size: 1.625rem;

  @include breakpoint-up(medium) {
    font-size: 2.625rem;
  }
  @include breakpoint-up(large) {
    font-size: 3.625rem;
  }
}

h3 {
  color: $grayishBlue;
  font-size: 0.375rem;

  @include breakpoint-up(medium) {
    font-size: 0.5rem;
  }
  @include breakpoint-up(large) {
    font-size: 0.625rem;
  }
}

//Utility

//Hide for screens below 639px
.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}
//Hide for screens above 640px
.hide-for-tablet {
  @include breakpoint-up(medium) {
    display: none;
  }
}
//Hide for screens above 1024px
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
