//Primary
$grayishBlue: hsl(237, 18%, 59%);
$softRed: hsl(345, 95%, 68%);

//Neutral
$white: hsl(0, 0%, 100%);
$darkishDesaturatedBlue: hsl(236, 21%, 26%);
$darkDesaturatedBlue: hsl(235, 23%, 22%);
$veryDarkBlue: hsl(235, 16%, 14%);
$veryDarkBlackishBlue: hsl(234, 17%, 12%);

$iconGray: #8385a9;
