@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}

body {
  height: 100vh;
  background: url("../images/bg-stars.svg") top/100% 80% no-repeat, url("../images/pattern-hills.svg") bottom/100% 20% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#1e1f29), to(#191a24));
  background: url("../images/bg-stars.svg") top/100% 80% no-repeat, url("../images/pattern-hills.svg") bottom/100% 20% no-repeat, linear-gradient(to bottom, #1e1f29, #191a24);
  background-repeat: no-repeat;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #1e1f29;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

h1 {
  font-size: 0.875rem;
  color: white;
}

@media (min-width: 40em) {
  h1 {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 1.125rem;
  }
}

h2,
div {
  font-size: 1.625rem;
}

@media (min-width: 40em) {
  h2,
  div {
    font-size: 2.625rem;
  }
}

@media (min-width: 64em) {
  h2,
  div {
    font-size: 3.625rem;
  }
}

h3 {
  color: #8486a9;
  font-size: 0.375rem;
}

@media (min-width: 40em) {
  h3 {
    font-size: 0.5rem;
  }
}

@media (min-width: 64em) {
  h3 {
    font-size: 0.625rem;
  }
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-tablet {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes flip-down-front {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background-color: #2b2d45;
    color: #fb6087;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    background-color: #343650;
    color: #fb6087;
  }
}

@keyframes flip-down-front {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background-color: #2b2d45;
    color: #fb6087;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    background-color: #343650;
    color: #fb6087;
  }
}

@-webkit-keyframes flip-down-back {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
            transform: rotateY(180deg) rotateX(0deg);
    background-color: #343650;
    color: #fb6087;
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
            transform: rotateY(180deg) rotateX(180deg);
    background-color: #2b2d45;
    color: #fb6087;
  }
}

@keyframes flip-down-back {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
            transform: rotateY(180deg) rotateX(0deg);
    background-color: #343650;
    color: #fb6087;
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
            transform: rotateY(180deg) rotateX(180deg);
    background-color: #2b2d45;
    color: #fb6087;
  }
}

@-webkit-keyframes fade-under {
  0% {
    background-color: #343650;
    color: #fb6087;
  }
  100% {
    background-color: #2b2d45;
    color: #fb6087;
  }
}

@keyframes fade-under {
  0% {
    background-color: #343650;
    color: #fb6087;
  }
  100% {
    background-color: #2b2d45;
    color: #fb6087;
  }
}

.main {
  height: calc(100vh - 10.625rem);
  padding-top: 9.125rem;
  padding-right: 1.375rem;
  padding-left: 1.375rem;
}

@media (min-width: 40em) {
  .main {
    height: calc(100vh - 11.625rem);
  }
}

@media (min-width: 64em) {
  .main {
    height: calc(100vh - 12.625rem);
  }
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 3.75rem;
}

@media (min-width: 40em) {
  .main h1 {
    margin-bottom: 5.25rem;
  }
}

@media (min-width: 64em) {
  .main h1 {
    margin-bottom: 6.75rem;
  }
}

.cards {
  text-align: center;
}

.cards h3 {
  letter-spacing: 4px;
}

.cards__container {
  width: 20.625rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 40em) {
  .cards__container {
    width: 31.25rem;
  }
}

@media (min-width: 64em) {
  .cards__container {
    width: 41.875rem;
  }
}

.cards__card {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #2b2d45;
  -webkit-box-shadow: 0px 8px rgba(0, 0, 0, 0.637);
          box-shadow: 0px 8px rgba(0, 0, 0, 0.637);
  height: 4.25rem;
  width: 4.375rem;
  overflow: hidden;
}

@media (min-width: 40em) {
  .cards__card {
    height: 6.5rem;
    width: 6.8125rem;
    margin-bottom: 1.375rem;
  }
}

@media (min-width: 64em) {
  .cards__card {
    height: 8.75rem;
    width: 9.25rem;
    margin-bottom: 1.75rem;
  }
}

.cards .cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.cards .cover span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: black;
}

.cards .cover::before, .cards .cover::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 12px;
  width: 8px;
  background-color: black;
}

.cards .cover::before {
  left: 0;
  border-radius: 0 6px 6px 0;
}

.cards .cover::after {
  right: 0;
  border-radius: 6px 0 0 6px;
}

.cards .base {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fb6087;
}

.cards .flap {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.cards .flap::before {
  content: attr(data-content);
  position: absolute;
  left: 50%;
}

.cards .flap.front::before, .cards .flap.under::before {
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cards .flap.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cards .flap.back::before {
  top: 100%;
  -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
          transform: translate(-50%, -50%) rotateZ(180deg);
}

.cards .flap.over {
  z-index: 2;
}

.cards .flap.under {
  z-index: 1;
}

.cards .flap.front {
  -webkit-animation: flip-down-front 300ms ease-in both;
          animation: flip-down-front 300ms ease-in both;
}

.cards .flap.back {
  -webkit-animation: flip-down-back 300ms ease-in both;
          animation: flip-down-back 300ms ease-in both;
}

.cards .flap.under {
  -webkit-animation: fade-under 300ms ease-in both;
          animation: fade-under 300ms ease-in both;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.footer__social a {
  font-size: 1.625rem;
  color: #8385a9;
  cursor: pointer;
}

.footer__social a:hover {
  color: #fb6087;
}

.footer__social a:not(:last-child) {
  margin-right: 2rem;
}
/*# sourceMappingURL=styles.css.map */